body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: sans-serif;

}

#navbar {
  background-image: linear-gradient(
    to right,
    rgb(255, 7, 7),
    rgba(255, 0, 0, 0)
  );
}
#logo {
  color: white;
  font-size: 30px;
  font-family: cursive;
}

#header {
  /* position: absolute; */
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#myvideo {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {

  #myvideo video{
    display: none;
    
  }
  
    #form_group{
    margin-top: 146px;
    padding-left: 3rem;
    padding-right: 3rem;
  }

}

#myvideo video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  position: absolute;
  background-color: rgb(138, 199, 179);
  height: 100vh;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 70px;
  bottom: 0;
  right: 0;
  opacity: 0.3;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 0, 0)
  );
  border-radius: 20px;
  /* box-shadow:5px 7px 9px 6px darkred ; */
}

#form_group {
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.alert_msg {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visible {
  visibility: visible !important;
}
.invisible {
  visibility: hidden !important;
}


